:root {
    --creamy-oat: #F7E4D4;
    --pillow-white: #FDF9F7;
    --soft-sky: #C7DDF0;
    --blush-puff: #F4C8C2;
    --butter-pop: #F8E7A2;
    --warm-ink: #4B3D36;
    --soft-umber: #7C6B60;
    --light-creamy-oat: #E9DAD0;
    --mild-cocoa: #B18E7A;
    --cozy-taupe: #9C928B;
    --blue-mist: #CADDFC;
    --mint-calm: #A7E8BD;
    --lilac-whisper: #BEB5E6;
    --butter-cream: #FFF4CC;
    --taupe-gray: #707875;
    --warm-caramel: #D08D20;
    --butter-yellow: #FFC12C;
    --peach-blush: #FED6B1;
    --charcoal-ink: #5C5955;
    --cloud-ink: #F0FFF0;
    --logo-green: #8EC4A4;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background-color: var(--creamy-oat);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    color: var(--pillow-white);
}

header {
    display: flex;
    justify-content: center;
    /* centraliza horizontal */
    align-items: center;
    /* centraliza vertical */
    width: 100%;
}

header img {
    display: block;
}

.avatar-container {
    display: flex;
    left: 4rem;
    width: 100%;
    height: auto;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

main {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h2 {
    text-align: center;
}

/* controls */

@media (max-width: 768px) {

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: flex;
        width: 100%;
        max-width: 100vw;
        left: 0;
        background-color: transparent;
    }

    .menu-btn {
        width: 3.8rem;
        height: 7rem;
        border: none;
        background-color: var(--logo-green);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 2rem 2rem 0 0;
    }

    .menu-btn:hover {
        background-color: #a9e8c2;
    }

    .menu-btn.active-btn {
        background-color: var(--blush-puff);
    }

    .menu-btn img {
        width: 3rem;
        height: 3rem;
        padding-bottom: 1.5rem;
        object-fit: contain;
    }

    .cards-container {
        width: 100%;
        max-width: 100vw;
        bottom: 2rem;
        left: 0;
        position: relative;
    }

    .card {
        background-color: var(--logo-green);
        text-align: center;
        width: 22.5rem;
        border: none;
        border-radius: 2rem;
        padding: 0.8rem 2rem 2rem;
        transform: scale(0.95);
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }

    .card.active {
        background-color: var(--blush-puff);
        opacity: 1;
        left: 0;
        transform: scale(1);
        pointer-events: all;
        z-index: 10;
        padding-bottom: 3rem;
    }

    .card h2 {
        text-align: center;
        margin: 0.7rem 0 0.7rem 0;
        font-size: 2rem;
        font-weight: 700;
    }
}

/*                                                                           avatar container                                                            */
.avatar-container {
    position: relative;
    width: 20rem;
    height: 20rem;
}

#base-avatar {
    padding-left: 2rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

/* .skin-colours{
    margin-top: 5rem;
    position: relative;
    z-index: 20;
} */

#skinshadow-layer {
    padding-left: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#skin-layer {
    padding-left: 2rem;
    position: absolute;
    filter: invert(97%) sepia(19%) saturate(972%) hue-rotate(302deg) brightness(101%) contrast(96%);
    transition: filter 0.3s ease;
    top: 0;
    left: 0;
}

#eyes-stroke {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    padding-left: 2rem;
}

#eyes-paint {
    filter: invert(16%) sepia(69%) saturate(576%) hue-rotate(351deg) brightness(92%) contrast(91%);
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2rem;
}

#hair-stroke {
    padding-left: 2rem;
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
}

#hair-shadows {
    padding-left: 2rem;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

#hair-paint {
    padding-left: 2rem;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
}

/* hair controls */

.hair-btn img {
    width: 5rem;
}

.hair-btn {
    background-color: var(--pillow-white);
    border: none;
    border-radius: 2rem;
    padding: 1.5rem .5rem -.5rem .5rem;
    cursor: pointer;
    margin: .5rem;
}

.hair-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* clothes controls  */

.clothes-btn img {
    width: 5rem;
}

.clothes-btn {
    background-color: var(--pillow-white);
    border: none;
    border-radius: 2rem;
    padding: 1.5rem .5rem -.5rem .5rem;
    cursor: pointer;
    margin: .5rem;
}

.clothes-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/*                                                                         skin controls                                                                                */
/* #skin-colours-options {
    padding: 0 4rem 0 3rem;
} */

#skin-colours-options>button {
    margin: .3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}

#skin-colours-options button:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

#card-skin button {
    margin-top: .5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}

/* aside */
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    margin: 1.5rem 2rem 0 0;
}

.option-group {
    background-color: var(--blush-puff);
    text-align: center;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 2rem 2rem;
    width: 100%;
}

.option-group>button {
    background-color: transparent;
    border: none;
}

/* colours panel */

#colours-panel {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    flex-wrap: wrap;
}

#colours-title {
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.7rem 0 0.7rem 0;
}

.colour-btn {
    margin: .1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}

.colour-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* eyes colours panel */

/* #eyecolour-options {
    margin-top: 2rem;
} */

#eyecolour-title {
    margin: 0.7rem 0 0.7rem 0;
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 2rem;
    font-weight: 700;
}

.eyecolour-btn {
    margin: .1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}

.eyecolour-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

#download-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 2rem;
    background-color: var(--logo-green);
    border: none;
    border-radius: 3.5rem;
    color: var(--pillow-white);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 1.8rem;
    cursor: pointer;

}

footer {
    margin-top: -2rem;
    display: flex;
    color: var(--soft-umber);
    justify-content: flex-end;
    padding-right: 2rem;
}